.brand-blue {
	color: #3d79d0;
}

.brand-blue .active > a, .brand-blue .active > a:hover {
    background-color: #3d79d0;
}

/**************************************************************/
/**BRAND COLORS **/
/**************************************************************/
.fedex-brand-background{
	background: #5c3977; /* Old browsers */
	background: -moz-linear-gradient(top, #5c3977 0%, #6f3891 36%, #551a60 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c3977), color-stop(36%,#6f3891), color-stop(100%,#551a60)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5c3977 0%,#6f3891 36%,#551a60 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5c3977 0%,#6f3891 36%,#551a60 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5c3977 0%,#6f3891 36%,#551a60 100%); /* IE10+ */
	background: linear-gradient(to bottom, #5c3977 0%,#6f3891 36%,#551a60 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c3977', endColorstr='#551a60',GradientType=0 ); /* IE6-9 */
}
.ups-brand-background{
	background: #89521b; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #89521b 1%, #703e0c 45%, #4f3403 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#89521b), color-stop(45%,#703e0c), color-stop(100%,#4f3403)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #89521b 1%,#703e0c 45%,#4f3403 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #89521b 1%,#703e0c 45%,#4f3403 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #89521b 1%,#703e0c 45%,#4f3403 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #89521b 1%,#703e0c 45%,#4f3403 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89521b', endColorstr='#4f3403',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/** ICON NAVIGATION **/
.navbar .nav > li > a.nav-icon{
	background-position: center center;
 	background-repeat: no-repeat;
 	cursor: pointer;
 	height: 24px;
 	padding: 7px 25px;
 	width: 24px;
}
.nav-home{background-image: url('/PackagePath/images/iconic/gray_dark/home_24x24.png');}
.nav-home:hover, .nav-home:focus{background-image: url('/PackagePath/images/iconic/blue/home_24x24.png');}
.nav-refresh{background-image: url('/PackagePath/images/iconic/gray_dark/loop_24x24.png');}
.nav-refresh:hover, .nav-refresh:focus{background-image: url('/PackagePath/images/iconic/blue/loop_24x24.png');}
.nav-list{background-image: url('/PackagePath/images/iconic/gray_dark/list_24x21.png');}
.nav-list:hover, .nav-list:focus{background-image: url('/PackagePath/images/iconic/blue/list_24x21.png');}

/**************************************************************/
/** CALENDAR **/
/**************************************************************/
.calendar-ul{
	margin: 0;
}
.calendar-ul li{
	display: inline;
	list-style:none;
}
.calendar-day-first{
	border-left: 1px solid #ABABAB;
}
.calendar-day-content{
	background: -moz-linear-gradient(0% 0 90deg, #FCFCFC, #FCFCFC, #F4F4F4) repeat scroll 0 0 transparent;
	border-collapse: collapse;
	border-right: 1px solid #999999;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
	display: inline-block;
	height: 80px;
	margin-right: -4px;
	text-align: center; 
	width: 14.2%; 
}
.calendar-day-content-today{
	background: #efefef; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #efefef 0%, #cdcdcd 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#efefef), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #efefef 0%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #efefef 0%,#cdcdcd 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #efefef 0%,#cdcdcd 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #efefef 0%,#cdcdcd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cdcdcd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.calendar-day-title{
	color: rgb(85, 85, 85);
	font-size: 11px; 
	margin: 15px 0 0; 
}
.calendar-day-arrival-content{
	margin-top: 5px;
}
.calendar-day-ul{
	margin: 0;
}
.calendar-day-ul li{
	display: block;
	float: left;
	list-style: none outside none;
	width: 33%;
}
.calendar-day-arrival{
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	box-shadow: 0 3px 10px #333333;
	display: block;
	height: 30px;
	margin: 0 auto;
	width: 30px;
}

/**************************************************************/
/** MAP CSS **/
/**************************************************************/
.map-section{
	height: 400px;
	position: relative;
	width: 100%;
}
.map-section-filter{
	background: none repeat scroll 0 0 #888888;
	height: 40px;
	left: 0;
	opacity: 0.5;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.map-section-filter-buttons{
	left: 30%;
	position: absolute;
	text-align: center;
	top: 8px;
	width: 40%;
	z-index: 2;
}
.map-canvas{
	height: 100%;
}

/**************************************************************/
/** MAP FILTER **/
/**************************************************************/
.master-filter{
	background: -moz-linear-gradient(0% 0 90deg, #FCFCFC, #FCFCFC, #F4F4F4) repeat scroll 0 0 transparent;
	border-bottom: 1px solid #AAACAF;
	box-shadow: 0 1px 10px #AAACAF;
	z-index: 1;
}
.master-filter-header{
    border: 1px solid #888888;
    cursor: pointer;
    text-align: center;
}
h3.master-filter-title{
	font-size: 16px;
    margin: 0;
    color: #AAACAF;
}
h3.master-filter-title:hover{
	background-image: url("/PackagePath/images/iconic/gray_light/arrow_up_24x24.png");
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
}